<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&family=Euphoria+Script&family=Neuton:ital@0;1&display=swap" rel="stylesheet">
        <title>Journey Journal</title>
    </head>
    <body>
        <header>

            <h1>Journey Journal</h1>
            <!-- Modal Button -->
            <button id='modal-btn'>Start New Trip!</button>
        </header>
        <aside id='modal' class='modal'>
            <div class='modal-content'>
                <span id='close' class='close'>&times;</span>
                <form>
                    <p>Where To...?</p>
                    <input type='text' id='location-input' placeholder='Where are you off to?'>
                    <button type='submit' id='location-submit' class='btn modal-btn'>Start Planning!</button>
                </form>
            </div>
        </aside>
        <main>
            <h2>Where to next...?</h2>
        </main>
    </body>
</html>