header {
    background: linear-gradient(145deg, rgb(22,60, 92), rgb(201, 219, 233));
    height: 3.5rem;
    color: #cd5360;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-family: 'Euphoria Script';
        font-size: 2.8rem;
        vertical-align: middle;
        margin-left: 2rem;
    }

    button {
        margin-right: 2rem;
        padding: .2rem .9rem;
        outline: none;
        border: none;
        font-family: 'Amiko';
        font-size: 1.2rem;
        text-transform: uppercase;
        border-radius: 15px;
        background: #cd5360;
        cursor: pointer;
        box-shadow: 2px 4px 6px rgba(10,10,10,0.2), 5px 7px 9px rgba(10,10,10,0.04), inset 2px 3px 5px rgba(200,200,200,0.2);
        transition: all .3s ease-in;
    }

    button:hover{
        background: #b37d4e;
    }
}
